
body {
    background-image: linear-gradient(90deg, rgb(5, 0, 12),rgb(5, 175, 218));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;         
}