
.flex-container {
    background-image: url(../imagenes/main.jpg);
    box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.8);
    display: flex;
    width: cover;
    height: 55vw;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center; 
    flex-direction: column;
    &.animacion {
        animation-name: mi-anime;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;  
    } 
    .flex-item {
        display: flex;
        color: #fff;
        text-align:center;
        width: 80%;
        .frase {
            display: flex;
            font-size: 4rem;    
        }
        .boton {
            border: 3px solid rgb(39, 105, 247);
            text-align: center;
            display: flex;   
            font-size: 1.5rem;
            border-radius: 10px;
            padding: 15px;
            margin: 20px 41%;
            color: white;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;
            justify-content: center;
            &:hover{
                color: white;
                border: 3px solid rgb(39, 105, 247);
                text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
                box-shadow: 0px 0px 15px 1px rgb(39, 105, 247);
                -webkit-box-shadow:0px 0px 30px 5px rgb(39, 105, 247);
                -moz-box-shadow: 0px 0px 15px 1px rgb(39, 105, 247);
                transform: scale(1.03);
                transition: 0.3s ease all;
            }
                       
        } 
    }     
}

@keyframes mi-anime {
    0% {transform: rotateY(360deg)};
    50%{transform: rotateY(360deg)};
    100%{transform: rotateY(360deg)};
}
@media (max-width: 300px) {
    .img-fluid {
        width: 9rem;
    }
}