
.menu {
    background: linear-gradient(to bottom, #000, #0003 80%, #0000);
    transition: background .4s;
    .navbar {
        background: linear-gradient(to bottom, #000, #0003 80%, #0000);
        transition: background .4s;
        .navbar-brand {
            padding-right: 50px;
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            .nav-link{
                margin-right: 50px;
            }
        }
    }
}   
@media (max-width: 991.98px) {
    .navbar {
        background: rgba(15, 15, 15, 0.9);
    }

    .navbar-nav a {
        margin: 0.5rem;
    }

    .dropdown-menu {
        width: 50vw;
    }

    nav .dropdown {
        text-align: center;
    }

    
    }